<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <!--  Add additional CSS in static file -->
    {% load static %}
    <script src="https://kit.fontawesome.com/4b9e2e10fb.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
      <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
      <script type="text/javascript" src="https://code.highcharts.com/6/modules/drilldown.js"></script>



    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}">--> 
    </head>
    
    {% block title %}<title>Analisis- Gap</title>{% endblock %}

  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'gap:home' %}">Analisis-GAP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'gap:home' %}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'gap:carga_usuario' %}">Carga de usuario</a>
            <a class="nav-item nav-link" href="{% url 'gap:CrearEncuesta' %}">Crear Encuesta</a>
            <a class="nav-item nav-link" href="{% url 'gap:EncuestasShow' %}">Encuestas</a>
              <a class="nav-item nav-link" href="{% url 'gap:responsables' %}">Responsables</a>
              <a class="nav-item nav-link" href="{% url 'gap:parametros' 1 %}">Parametros</a>
            <a class="nav-item nav-link" href="{% url 'gap:Resultados' %}">Resultados</a>
              <a class="nav-item nav-link" href="{% url 'gap:recomendaciones' %}">Recomendaciones</a>
              <a class="nav-item nav-link" href="{% url 'gap:Graficos' %}">Graficos</a>
        </div>
      </div>
    </nav>
    </div>
    <!-- Content body -->
      {% block content %} 
      {% endblock %}






    <!-- Script boostrap4  -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>
</html>
  