{% extends 'gap/base.html' %}
{% load bootstrap4 %}



{% block content %}

<main role="main" class="inner cover text-center">
  <h1 class="cover-heading">Carga de usuarios.</h1>
  <p class="lead">
    <a href="{% url 'gap:carga_usuario_singular' %}" class="btn btn-lg btn-secondary">Singular</a>
  </p>
  <p class="lead">
    <a href="{% url 'gap:carga_usuario_masiva' %}" class="btn btn-lg btn-secondary">Masiva</a>
  </p>
</main>
{% endblock  %}
    