{% extends 'gap/base.html' %}
{{order}}
{% load bootstrap4 %}
{% block content %}

<div class="container">
{% if messages %}
	{% for message in messages%}
		<div>
			{% if message.tags == "error" %}
				<div class="alert alert-danger" role="alert">
	  			Existio un error <strong>{{message|safe}}</strong> , por favor intentelo denuevo
				</div>
			{% endif %}
			{% if message.tags == "success" %}
				<div class="alert alert-success" role="alert">
	  			La acción se completo satisfactoriamente
				</div>
			{% endif %}	
		</div>
	{% endfor %}
{% endif %}
	
	    <form method="post" enctype="multipart/form-data">
	    <div class="card">
		  <h5 class="card-header">Carga de Empleados Masiva</h5>
		  <div class="card-body">
		    <p class="card-text">Porfavor subir archivo csv con el formato.</p>
		    <label> Subir un archivo </label>
	        <input type="file" name="file">
	        <div class="col text-right">
		        <a class="btn btn-primary" href="{% url 'gap:carga_usuario_masiva' %}" role="button">Limpiar</a>
		        {% load static %}
		        <a class="btn btn-primary" href="{% static "gap/template.csv" %}" role="button">Descargar Formato</a>
		        <button type="submit" class="btn btn-primary"> Enviar</button>
	    	</div>
		  </div>
	        {% csrf_token %}

	        <!-- {{ form.as_p }} -->
	     </div>
	    </form> 
	</div>
{% endblock %}


