

<html>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <heat>
        <title>
            Formulario test
        </title>
    </heat>
    <body>
        <header>
            <b>Formulario prueba 1</b>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <p class="font-weight-normal">
                        Preguntas.
                    </p>
                </div>
                <div class="col-4">
                    <p class="font-weight-normal">
                        Respuestas.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    Pagina de pruebas para formulario
                </div>
                <form method="POST"> 
                {% csrf_token %}
                {% for radio in fields %}
                <label >
                {{ radio }}
                 <span> {{ radio.tag }} </span>
                 </label>

                {% endfor %}
                <input type="submit" value="Guardar">
                </form>
            </div>
        </div>
    </body>
    <footer>
        <a href="{% url 'gap:homecuestas' %}" class="btn btn-primary">Volver a encuestas</a>
    </footer>
</html>