

<html>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <heat>
        <title>
            Formulario test
        </title>
    </heat>
    <body>
        <header>
            <b>Formulario prueba 4</b>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <p class="font-weight-normal">
                        Preguntas.
                    </p>
                </div>
                <div class="col-4">
                    <p class="font-weight-normal">
                        Respuestas.
                    </p>
                </div>
            </div>
            {% block content %}
            <form method="POST" class="post-form">
            {% csrf_token %}
            <h2>Cosa que agregue para guardar la cosa del form</h2>
            {{ form.as_p }}
            <div class="row">
                <div class="col-8">
                    Pagina de prueba
                </div>
                <div class="col-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios8" id="exampleRadios1" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                          Si
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios8" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          No
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios8" id="exampleRadios3" value="option3">
                        <label class="form-check-label" for="exampleRadios3">
                          Desconoce
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="save btn btn-default">Save</button>
            </form>
            {% endblock %}
        </div>
    </body>
    <footer>
        <a href="{% url 'gap:homecuestas' %}" class="btn btn-primary">Volver a encuestas</a>
    </footer>
</html>