

{% extends 'gap/base.html' %}
{% load static %}

{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <form method="post" enctype="multipart/form-data">
    	<div class="card">
		  <h5 class="card-header">{{ qname.nombre }}</h5>
		  <div class="card-body">
    		{% csrf_token %}
    		{{ answer_formset.management_form }}
			{% for Pregunta, form in combined %}
			<div class="row">
				{{ form.question.as_hidden }}
				{{ form.Encabezado.as_hidden }}
                {{ form.creacion.as_hidden }}
				{% for hidden in form.hidden_fields %}
        			{{ hidden }}
    			{% endfor %}
				<div class="col-6">
					{{ Pregunta }}
	      		</div>
	      		<div class="col-6">
	        	{{ form.choice_text|as_crispy_field }}
	      		</div>
    		</div>
			{% endfor %}
			<div class="row">
    		<div class="col-12 text-right">
        		<button type="submit" class="btn btn-primary"> Actualizar</button>
        	</div>
    	</div>
    	</div>
    	</div>
	        

	        <!-- {{ form.as_p }} -->
    </form> 
</div>



{% endblock %}