{% extends "gap/base.html" %}


{% block content %}
<div class="container">
<form method="post" enctype="multipart/form-data">
<div class="card">
  <div class="card-header">
    Seleccionar Encuestas
  </div>
  <div class="card-body">

  	<div class="col-12">
		<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Encuesta</th>
                <th>Ir</th>

            </tr>
        </thead>
        <tbody>

            {% if encuestas %}
            {% for encuesta in encuestas %}
            <tr>
                <td>{{ encuesta }}</td>
                <td>

                    <a> <a class="btn btn-primary" href="{% url 'gap:homecuestas' encuesta.pk  %}" role="button">Link</a> <a/>

                </td>

            </tr>
                {% endfor %}
        {% endif %}
        </tbody>
    </table>
	</div>

  </div>



  </div>

</form>
</div>



{% endblock %}