{% extends 'gap/base.html' %}
{% load bootstrap4 %}


{% block content %}
<div class="container">
    <h1 class="text-center">Crear Encuesta</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary" ></i> Enviar</button>
    </form>
</div>

    <script>
  $(function () {
      $('.datepicker').datepicker()
      $('.datepicker2').datepicker()
  });
</script>
{% endblock %}

