{% extends "gap/base.html" %}


{% block content %}
<div class="container">
<form method="post" enctype="multipart/form-data">
<div class="card">
  <div class="card-header">
    Muestra de resultados
  </div>
  <div class="card-body">
  	<div class="input-group mb-3 col-md-6 col-xs-12">
	  	<div class="input-group-prepend">
	    	<label class="input-group-text" for="inputGroupSelect01">Encuesta</label>
	  	</div>
	  	<select class="custom-select" name="selectorencuesta">
        {% if encuestas %}
            {% for encuesta in encuestas %}
		    <option value = {{ encuesta.pk }}>{{ encuesta }}</option>
            {% endfor %}
        {% endif %}
	  	</select>
  	</div>
  	<div class="col-12 mb-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary"> Actualizar</button>

	</div>
    {% if values %}
	<div class="col-12">
		<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto" class="border"></div>
	</div>
    {% endif %}

  </div>
</div>
</form>
</div>

<script>
      _categories = {{categories|safe}};
      _values = {{values|safe}};

      Highcharts.chart('container', {
	  chart: {
              type: 'column'
	  },
	  title: {
              text: 'Porcentaje de complimiento por dominio'
	  },
	  subtitle: {
              text: ''
	  },
	  xAxis: {
            type: 'category'
        },
	  yAxis: {
              min: 0,
              title: {
		  text: 'Cumplimiento'
              }
	  },
	  tooltip: {
              headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
              pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
		  '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
              footerFormat: '</table>',
              shared: true,
              useHTML: true
	  },
	  plotOptions: {
              column: {
		  pointPadding: 0.2,
		  borderWidth: 0
        }
	  },
	  series: [{
              name: 'Cumplimiento',
              data: [
                  {% for value in values %}
                  {
                  name: '{{value.0}}',
                  y: {{value.1}},
                  drilldown: '{{value.0}}'
              },
                  {% endfor  %}


              ]

	  }],
          drilldown: {
    series: [
        {% for value in values %}
        {
        id: '{{value.0}}',

        data: [
            {% for pregunta in value.2 %}
                {
                 name: 'Pregunta {{ pregunta.0 }}',
                    y: {{ pregunta.1 }},
                    },
            {% endfor %}

        ]

    },
        {% endfor %}

    ]
}


      });
      </script>

{% endblock %}