
{% extends 'gap/base.html' %}
{% load static %}

{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="container">

            <div class="card">
                <h5 class="card-header">Dominios de las encuentas.</h5>
                <div class="card-body">
                <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="card h-100 w-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                Dominio N°1: Politicas de seguridad.
                            </h5>
                            <p class="card-text">
                                Proporciona orientacion y apoyo para la seguridad de la informacion.
                            </p>
                            <a href="{% url 'gap:encuesta' pk 1 %}" class="mt-auto btn btn-primary">Ir a encuesta</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card h-100 w-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                Dominio N°2: Organizacion de la seguridad de la informacion.
                            </h5>
                            <p class="card-text">
                                Marco de trabajo para comenzar, controlar e implementar el funcionamineto de la seguridad de la informacion.
                            </p>
                            <a href="{% url 'gap:encuesta' pk 2 %}" class="mt-auto btn btn-primary">Ir a encuesta</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 w-100">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                Dominio N°3: Administracion de activos.(Para formulario de pruebas)
                            </h5>
                            <p class="card-text">
                                Identifica los octivos de la organizacion y define responsabilidades de proteccion.
                            </p>
                            <a href="{% url 'gap:encuesta' pk 3 %}" class="mt-auto btn btn-primary">Ir a encuesta</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="card h-100 w-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                Dominio N°4: Seguridad recursos humanos.
                            </h5>
                            <p class="card-text">
                               Comprension de responsabilidades por parte de contratistas y colaboradores, buen manejo de los roles en los que estan considerados.
                            </p>
                            <a href="{% url 'gap:encuesta' pk 4 %}" class="mt-auto btn btn-primary">Ir a encuesta</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card h-100 w-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                Dominio N°5: Seguridad fisica y ambiental.
                            </h5>
                            <p class="card-text">
                                Trata de evitar accesos fisicos no autorizados, daños e interferencias contra las instalaciones de procesamiento.
                            </p>
                            <a href="{% url 'gap:encuesta' pk 5 %}" class="mt-auto btn btn-primary">Ir a encuesta</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 w-100">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                Dominio N°6: Administracion comunicaciones y operaciones.
                            </h5>
                            <p class="card-text">
                                Asegura la correcta operacion de las instalaciones de procesamiento de informacion.
                            </p>
                            <a href="{% url 'gap:encuesta' pk 6 %}" class="mt-auto btn btn-primary">Ir a encuesta</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="card h-100 w-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                Dominio N°7: Control de accesos.
                            </h5>
                            <p class="card-text">
                                Restringe el acceso a la informacion y a las instalaciones de procesamiento de informacion.
                            </p>
                            <a href="{% url 'gap:encuesta' pk 7 %}" class="mt-auto btn btn-primary">Ir a encuesta</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card h-100 w-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                Dominio N°8: Adquisicion, desarrollo y mantenimiento de sistemas informaticos.
                            </h5>
                            <p class="card-text">
                                Asegura que la seguridad de la informacion sea parte integral de los sistemas de informacion.
                            </p>
                            <a href="{% url 'gap:encuesta' pk 8 %}" class="mt-auto btn btn-primary">Ir a encuesta</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 w-100">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                Dominio N°9: Adminitracion de incidentes de seguridad informatica.
                            </h5>
                            <p class="card-text">
                                Asegura un enfoque consistente y eficaz sobre la gestion de los incidentes de seguridad de la informacion.
                            </p>
                            <a href="{% url 'gap:encuesta' pk 9 %}" class="mt-auto btn btn-primary">Ir a encuesta</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="card h-100 w-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                Dominio N°10: Aministracion de continuidad de negocios.
                            </h5>
                            <p class="card-text">
                                Incorpora la seguridad de la informacion en la continuidad del negocio de la organizacion.
                            </p>
                            <a href="{% url 'gap:encuesta' pk 10 %}" class="mt-auto btn btn-primary">Ir a encuesta</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card h-100 w-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                Dominio N°11: Cumplimiento.
                            </h5>
                            <p class="card-text">
                                Evita incumplimientos de las obligaciones legales, estatutarias, regulaciones o conductuales relacionadas con la seguridad de la informacion.
                            </p>
                            <a href="{% url 'gap:encuesta' pk 11 %}" class="mt-auto btn btn-primary">Ir a encuesta</a>
                        </div>
                    </div>
                </div>
                
            </div>






                </div>
            </div>
            
        </div>
        
        </div>

{% endblock %}
