{% extends 'gap/base.html' %}

{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
    	<div class="card">
		  <h5 class="card-header">Modificacion de Parametros</h5>
		  <div class="card-body">
		    <div class="row">
        	<div class="col-3">
	        	<label></label>
	      	</div>
	      	<div class="col-3 text-center">
	        	<label>Minimo</label>
	      	</div>
	      	<div class="col-3 text-center">
	        	<label>Maximo</label>
	      	</div>
	      	<div class="col-3 text-center">
	        	<label>SLA(Dias)</label>
	      	</div>
    	</div>
        <div class="row">
        	<div class="col-3 text-center">
	        	Bajo
	      	</div>
		    <div class="col-3 text-center">
		        {{ form.minimo_bajo|as_crispy_field }}
		    </div>
		    <div class="col-3 text-center">
		        {{ form.maximo_bajo|as_crispy_field }}
		    </div>
	      	<div class="col-3 text-center">
	        	{{ form.sla_bajo|as_crispy_field }}
	      	</div>
    	</div>
    	<div class="row">
        	<div class="col-3 text-center">
	        	Medio
	      	</div>
		    <div class="col-3 text-center">
		        {{ form.minimo_medio|as_crispy_field }}
		    </div>
		    <div class="col-3 text-center">
		        {{ form.maximo_medio|as_crispy_field }}
		    </div>
	      	<div class="col-3 text-center">
	        	{{ form.sla_medio|as_crispy_field }}
	      	</div>
    	</div>
    	<div class="row">
        	<div class="col-3 text-center">
	        	Alto
	      	</div>
		    <div class="col-3 text-center">
		        {{ form.minimo_alto|as_crispy_field }}
		    </div>
		    <div class="col-3 text-center">
		        {{ form.maximo_alto|as_crispy_field }}
		    </div>
	      	<div class="col-3 text-center">
	        	{{ form.sla_alto|as_crispy_field }}
	      	</div>
    	</div>
    	<div class="row">
    		<div class="col-12 text-right">
        		<button type="submit" class="btn btn-primary"> Actualizar</button>
        	</div>
    	</div>
		  </div>
	        {% csrf_token %}

	        <!-- {{ form.as_p }} -->
	     </div>
        {% csrf_token %}
        
    </form> 
</div>
{% endblock %}