
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">



<div class="container">
<form method="post" enctype="multipart/form-data">
<div class="card">
  <div class="card-header">
    Plan de Accion
  </div>
  <div class="card-body">
  	<div class="col-12 mb-3">

	</div>

		<div class="col-12">
			<p class="card-text"></p>
		</div>
	<div class="col-12">
		<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Dominio</th>
                <th>Prioridad</th>
                <th>Duracion</th>
                <th>Responsable</th>
                <th>Plan de accion</th>
                <th>Plazo de inicio</th>
                <th>Plazo de finalización</th>
            </tr>
        </thead>
        <tbody>

            {% if dominios %}
                {% for Dominio in dominios %}
            <tr>
                <td>{{ Dominio.0 }}</td>
                <td>{{ Dominio.1 }}</td>
                <td>{{ Dominio.2 }}</td>
                <td>{{ Dominio.3 }}</td>
                <td>{{ Dominio.4 }}</td>
                <td>{{ Dominio.5 }}</td>
                <td>{{ Dominio.6 }}</td>
            </tr>
                {% endfor %}
            {% endif  %}
        </tbody>
    </table>
	</div>

  </div>
</div>
</form>
</div>



