{% extends 'gap/base.html' %}
{% load bootstrap4 %}


{% block content %}
<div class="container">
    <h1 class="text-center">Crear Preguntas</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary" ><i class="fas fa-trash-alt"></i> Enviar</button>
    </form>
</div>
{% endblock %}