{% extends "gap/base.html" %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8 col-sm-12 text-center" ><h1>Listado de preguntas</h1>
    </div>
    <!-- {% if perms.catalog.add_book %} -->
    <div class="col-lg-2 col-md-4 col-sm-12 mb-2 text-center">
      <a href="{% url 'gap:pregunta_new' %}">
      <button type="button" class="btn btn-success">Agregar Pregunta</button>
      </a>
    </div>
    <!-- {% endif %} -->
  </div>

  {% if pregunta_list %}


  <div class="row">
    {% for pregunta in pregunta_list %}
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex">

      
      <div class="card my-2 flex-fill">
        <div class="row no-gutters">
          <div class="col-lg-4 col-md-4 col-sm-1">
            </div>
          <div class="col-lg-8 col-md-8 col-sm-11">
            <div class="card-body">
              <h5 class="card-title"><a href="{{ pregunta.get_absolute_url }}">{{pregunta.question_text}}</a></h5>
              <p class="card-text">{{pregunta.dominio.nombre}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    {% endfor %}
    </div>

    {% else %}
      <p>No hay preguntas disponibles</p>
    {% endif %}       
  </div>
{% endblock %}