{% extends "gap/base.html" %}


{% block content %}
<div class="container">
<form method="post" enctype="multipart/form-data">
<div class="card">
  <div class="card-header">
    Muestra de Recomendaciones
  </div>
  <div class="card-body">
  	<div class="input-group mb-3 col-md-6 col-xs-12">
	  	<div class="input-group-prepend">
	    	<label class="input-group-text" for="inputGroupSelect01">Encuesta</label>
	  	</div>
	  	<select class="custom-select" name="selectorencuesta">
        {% if encuestas %}
            {% for encuesta in encuestas %}
		    <option value = {{ encuesta.pk }}>{{ encuesta }}</option>
            {% endfor %}
        {% endif %}
	  	</select>
  	</div>
  	<div class="col-12 mb-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary"> Actualizar</button>
	</div>

		<div class="col-12">
			<p class="card-text">Respuestas por dominio a los asignados.</p>
		</div>
	<div class="col-12">
		<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Dominio</th>
                <th>Porcentaje de cumplimiento</th>
                <th>Porcentaje de desconocimiento</th>
                <th>Grado de cumplimiento</th>
                <th>Recomendacion</th>
                <th>Referencias</th>
            </tr>
        </thead>
        <tbody>

            {% if dominios %}
                {% for Dominio in dominios %}
            <tr>
                <td>{{ Dominio.0 }}</td>
                <td>{{ Dominio.1 }}</td>
                <td>{{ Dominio.2 }}</td>
                <td>{{ Dominio.3 }}</td>
                <td>{{ Dominio.4 }}</td>
                <td>{{ Dominio.5 }}</td>
            </tr>
                {% endfor %}
            {% endif  %}
        </tbody>
    </table>
	</div>

  </div>
</div>
</form>
</div>

<script>
$(document).ready(function() {
    $('#example').DataTable( {
        "order": [[ 1, "asc" ]]
    } );
} );

</script>

{% endblock %}