{% extends 'gap/base.html' %}

{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
    	<div class="card">
		  <h5 class="card-header">Asignacion de responsables por dominio</h5>
		  <div class="card-body">
		  	<div class="row">
				<div class="col-6 text-center">
					<label>Dominio</label>
	      		</div>
	      		<div class="col-6 text-center">
	        		<label>Responsable</label>
	      		</div>
    		</div>
    		{% csrf_token %}
    		{{ formset.management_form }}
			{% for form in formset %}
			<div class="row">
				{% for hidden in form.hidden_fields %}
        			{{ hidden }}
    			{% endfor %}
				<div class="col-6">
					{{ form.nombre|as_crispy_field }}
	      		</div>
	      		<div class="col-6">
	        	{{ form.responsable|as_crispy_field }}
	      		</div>
    		</div>
			{% endfor %}
			<div class="row">
    		<div class="col-12 text-right">
        		<button type="submit" class="btn btn-primary"> Actualizar</button>
        	</div>
    	</div>
    	</div>
    	</div>
	        

	        <!-- {{ form.as_p }} -->
    </form> 
</div>
{% endblock %}