{% extends "gap/base.html" %}


{% block content %}
<div class="container">
<form method="post" enctype="multipart/form-data">
<div class="card">
  <div class="card-header">
    Muestra de resultados
  </div>
  <div class="card-body">
  	<div class="input-group mb-3 col-md-6 col-xs-12">
	  	<div class="input-group-prepend">
	    	<label class="input-group-text" for="inputGroupSelect01">Encuesta</label>
	  	</div>
	  	<select class="custom-select" name="selectorencuesta">
        {% if encuestas %}
            {% for encuesta in encuestas %}
		    <option value = {{ encuesta.pk }}>{{ encuesta }}</option>
            {% endfor %}
        {% endif %}
	  	</select>
  	</div>
  	<div class="col-12 mb-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary"> Actualizar</button>
        {% if union %}
            <a href="{% url 'gap:exportResultados' encuesta.pk %}" class="btn btn-primary">Descargar Resultados</a>
        <a href="{% url 'gap:informe' encuesta.pk %}" target="_blank" class="btn btn-primary">Descargar Informe</a>
        <a href="{% url 'gap:PlanDeAccion' encuesta.pk %}" target="_blank" class="btn btn-primary">Descargar Plan de Acción</a>
        {% endif %}
	</div>

		<div class="col-12">
			<p class="card-text">Respuestas por dominio a los asignados.</p>
		</div>
	<div class="col-12">
		<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Dom 1</th>
                <th>Dom 2</th>
                <th>Dom 3</th>
                <th>Dom 4</th>
                <th>Dom 5</th>
                <th>Dom 6</th>
                <th>Dom 7</th>
                <th>Dom 8</th>
                <th>Dom 9</th>
                <th>Dom 10</th>
                <th>Dom 11</th>
            </tr>
        </thead>
        <tbody>

            {% if union %}
                {% for Empleado, arr in union %}
            <tr>
                <td>{{ Empleado.apellido_paterno }}</td>
                <td>{{ Empleado.apellido_materno }}</td>
                <td>{{ Empleado.primer_nombre }}</td>
                <td>{{ Empleado.cargo }}</td>
                <td>{{ arr.0 }}</td>
                <td>{{ arr.1 }}</td>
                <td>{{ arr.2 }}</td>
                <td>{{ arr.3 }}</td>
                <td>{{ arr.4 }}</td>
                <td>{{ arr.5 }}</td>
                <td>{{ arr.6 }}</td>
                <td>{{ arr.7 }}</td>
                <td>{{ arr.8 }}</td>
                <td>{{ arr.9 }}</td>
                <td>{{ arr.10 }}</td>
            </tr>
                {% endfor %}
            {% endif  %}
        </tbody>
    </table>
	</div>

  </div>
</div>
</form>
</div>

<script>
$(document).ready(function() {
    $('#example').DataTable( {
        "scrollX": true
    } );
} );

</script>

{% endblock %}